<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723391347273-o7j3rtgpjfbdi7na3pm08u373k471ova.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723391347273-o7j3rtgpjfbdi7na3pm08u373k471ova</string>
	<key>API_KEY</key>
	<string>AIzaSyDF9Hy3du0XWPHXWNBDmJoBXB1-rGPXFbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>723391347273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekremalkan.StoreA</string>
	<key>PROJECT_ID</key>
	<string>storea-fddff</string>
	<key>STORAGE_BUCKET</key>
	<string>storea-fddff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723391347273:ios:d725e1b392a9d7fe385d98</string>
</dict>
</plist>